body,
html {
  overflow: auto;
}

.trash-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 10px;
  margin: 20px auto;
  padding: 30px;
  max-width: 90%;
  box-sizing: border-box;
}

.empty-trash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50%;

  width: 100%;
  text-align: center;
}

.empty-trash-img {
  height: 500px;
  width: 500px;
  /* Set a fixed width */
  object-fit: contain;
  /* Ensure the image fits within the container without distortion */

}